* {
  border:1pt solid rgb(221, 221, 220);
}

.App {
  text-align: left;
}

.home {
  font-size: xx-large;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}

.addButton {
  height: 30px;
  background-color: grey;
  font-size: large;;
}

.event-form {
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}

.event-form > label {
  margin: 20px;
}

.App-header {
  background-color: #e6ebe6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
